
# Node / MERN
# ===============================
node_modules/
npm-debug.log*
yarn-error.log*

# ===============================
# Environment / Secrets
# ===============================
.env
.env.local
.env.development
.env.production

# ===============================
# Build / Dist
# ===============================
dist/
build/

# ===============================
# Logs
# ===============================
logs/
*.log

# ===============================
# OS / System files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# VS Code (optional)
# ===============================
.vscode/
